<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <center>
	<form style="width: fit-content; margin-top: 10px;border:1px solid #000;" action="" method="POST">
		<input type="text" name="UserName" placeholder="UserName" required=""> <br> <br>
		<input type="password" name="UserPassWord" placeholder="Password" required=""> <br> <br>
		<input type="submit" id="inp_login" value="Login">
	</form>
	
    </div>
</center>
</body>
</html>