 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Store in Ha Noi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Dragonball store</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/products">Store in Ha Noi</a></li>
        <li><a href="/products2">Store in Ho Chi Minh</a></li>
      </ul><br>
    </div>

    <div style="margin-top: 50px; margin-bottom: auto; margin-right: 150px; margin-left: 800px;">
     <form action="/doInsertProducts" method="post">
        Name <input type="text" name="txtName" id="" style="margin-left:10px">
        <br>
        Size <input type="text" name="txtSize" id="" style="margin-left:20px">
        <br>    
        Price <input type="text" name="txtPrice" id="" style="margin-left:16px">
        <br>
        Amount <input type="text" name="txtAmount" id="" style="margin-left:0px">
        <label for style="color: brown;">{{model.amount}}</label>
        <br>
        <input type="submit" value="Insert" style="margin-left:120px">
    </form>
      
      
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 600px;">© 2020 Copyright:Dragonball store</p>
</footer>

</body>
</html> 
